name: Build setup guides
on:
  push:
    branches:
      - master
  pull_request:
    types: [opened, synchronize]
    branches:
      - "master*"
      - "main*"
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Build
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          ruby build.rb
          if ! git diff --exit-code
          then
            git add .
            git commit -m "setup guides generated"
            git push
          fi
